<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NaskMeAnalytics.Properties.Settings.NaskMeDbLiveConnectionString"
            connectionString="Data Source=naskmelive.cckdaoijabm9.us-west-1.rds.amazonaws.com;Initial Catalog=NaskMeDbLive;User ID=nask;Password=dBa4Na$kMe!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>